body {
  width: 100%;
  background-color: #bbbbbb;
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

header {
  background-color: black;
  color: white;
  height: 75px;
  line-height: 75px;
}

header img {
  height: 40px;
  margin: 17px 10px 0px 15px;
  float: left;
}

h1 {
  vertical-align: middle;
  float: left;
  font-size: 20px;
}

#book-list {
  width: 100%;
}

.book {
  padding: 0px 20px 0px 0px;
  height: 200px;
  max-width: 100%;
  background-color: white;
  margin: 20px;
}

.book img {
  height: 200px;
  float: left;
}

.book div {
  box-sizing: border-box;
  float: left;
  padding: 20px 20px 0px 20px;
  line-height: 25px;
}

h3 {
  font-style: italic;
}

footer {
  background-color: grey;
  height: 150px;
  padding: 15px;
}

.fa {
  height: 32px;
  padding: 5px;
  float: right;
  font-size: 32px;
}

#link {
  margin: 40px 0px 30px 20px;
  font-size: 24px;
  text-decoration: underline;
}