#book-list {
  width: 100%;
}

h1 {
  vertical-align: middle;
  float: left;
  font-size: 20px;
}

h3 {
  font-style: italic;
}

.book {
  padding: 0px 20px 0px 0px;
  height: 200px;
  max-width: 100%;
  background-color: white;
  margin: 20px;
}